.center {
    text-align: center;
}
.center-page {
    width: 300px;
    height: 300px;
    position: absolute;

    top: -40px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.space-vert {
    margin-top: 20px;
}
.footer-pos {
     width: auto;
    height: auto;
    position: absolute;

    top: 800px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
body {
    padding-top: 70px;
}

/*code form arrow below menu
li:active::after {
    content: ' ';
    position: absolute;
    border: solid 10px transparent;
    border-top: solid 0px transparent;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
    border-color: #222 transparent transparent transparent;
}*/


