<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
   <add name="LearnData" connectionString=" Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\CedarGlenApplications\Responsive\Learn\App_Data\LearnData.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />

    </connectionStrings>
  <appSettings>
     <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <authorization>
       <deny users="?" />
      </authorization>
      <authentication mode="Forms">
        <!--<forms loginUrl="~/SignIn.aspx" defaultUrl="Login.aspx" name="userlogin" path="/"/>-->
        <forms name=".ASPXFORMSAUTH"
     path="/"
     loginUrl="~/SignIn.aspx"
      timeout="30"/>  
        <!--<forms defaultUrl="/OnTrack/My_Dashboard" loginUrl="~/SignIn.aspx" timeout="120" name=".otsa" />-->
      </authentication>
     
    </system.web>
  <location path="Default.aspx" >
    <system.web>
      <authorization>
        <allow users="*" />
      
      </authorization>
    </system.web>
  </location>
  <location path="home" >
    <system.web>
      <authorization>
        <allow users="*" />

      </authorization>
    </system.web>
  </location>
  <location path="forgot/password" >
    <system.web>
      <authorization>
        <allow users="*" />

      </authorization>
    </system.web>
  </location>
  <location path="forgot/user" >
    <system.web>
      <authorization>
        <allow users="*" />

      </authorization>
    </system.web>
  </location>
  <location path="join" >
    <system.web>
      <authorization>
        <allow users="*" />

      </authorization>
    </system.web>
  </location>
  <location path="login" >
    <system.web>
      <authorization>
        <allow users="*" />

      </authorization>
    </system.web>
  </location>
  <location path="SignUp.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
